@model FinalBlog.Models.Post
@{
    ViewData["Title"] = "Error";
}
<h1>@ViewData["Title"]</h1>


@section Scripts{
}

@section Body{
    <h1 style="margin-left: 15%; margin-right: 15%;">Неверный логин или пароль</h1>
}